name: Playwright Tests
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # Собираем образ. Мы называем его "pellu-tests"
      - name: Build Docker Image
        run: docker build -t pellu-tests .

      # Запускаем контейнер. 
      # --rm удалит контейнер после прогона.
      # -v монтирует папку отчетов, чтобы отчет сохранился на твоем ПК после теста.
      - name: Run Tests in Docker
        run: docker run --rm -v "${{ github.workspace }}/playwright-report:/app/playwright-report" pellu-tests npx playwright test --grep "@smoke"

      - name: Upload Report
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 7