name: Playwright Tests
on:
  push:
    branches: [ main ]
  workflow_dispatch:
    inputs:
      test_tag:
        description: 'Tag to run'
        default: '@smoke'

jobs:
  test:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker Image
        run: docker build -t pellu-tests .

      - name: Run Tests and Generate Report
        # Мы запускаем тесты, а затем команду allure generate
        run: |
          docker run --rm \
          -v "${{ github.workspace }}/allure-report:/app/allure-report" \
          pellu-tests /bin/bash -c "npx playwright test --grep '${{ github.event.inputs.test_tag || '@smoke' }}'; allure generate allure-results -o allure-report --clean"

      - name: Upload Allure Report
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: allure-report
          path: allure-report/
          retention-days: 7