name: Playwright Tests
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: self-hosted
    # Используем официальный образ как среду выполнения
    container:
      image: mcr.microsoft.com/playwright:v1.41.0-jammy

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # Шаг setup-node не нужен, так как Node.js уже есть в образе v1.41.0
      
      - name: Install dependencies
        run: npm ci

      - name: Run Playwright tests
        # Добавляем переменные окружения, если они нужны для CI
        run: npx playwright test --grep "@smoke"
        env:
          HOME: /root # Помогает избежать проблем с правами доступа в Docker

      - name: Upload Report
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 7