name: Playwright Tests
on:
  push:
    branches: [ main ]
  workflow_dispatch:
    inputs:
      test_tag:
        description: 'Tag to run'
        default: '@smoke'

# Разрешения для работы с GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  test:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker Image
        run: docker build -t pellu-tests .

      - name: Run Tests and Generate Allure Report
        run: |
          docker run --rm -v "${{ github.workspace }}/allure-report:/app/allure-report" pellu-tests /bin/bash -c "npx playwright test --grep '${{ github.event.inputs.test_tag || '@smoke' }}'; allure generate allure-results -o allure-report --clean"

      # Загружаем папку отчета как специальный артефакт для Pages
      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v3
        if: always()
        with:
          path: allure-report/

  deploy:
    needs: test
    if: always()
    runs-on: ubuntu-latest # Деплой делает сам GitHub на своих серверах
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4